/cache
/versions
/thc2-world/data
/libraries
/thc2-world_the_end
/thc2-world_nether
thc2-world/level.dat
thc2-world/level.dat_old
thc2-world/paper-world.yml
thc2-world/session.lock
thc2-world/uid.dat
/thc2-world/region
/plugins/.paper-remapped
/plugins/AxGraves/libs
*.sqlite
/plugins/EssentialsX-GUI/lib
/plugins/ExcellentEnchants/lang
/plugins/Geyser-Spigot/cache
/plugins/LuckPerms/libs
/plugins/LuckPerms/translations
/plugins/SkinsRestorer/locales
/plugins/Veinminer/update
/plugins/WorldEdit/.archive-unpack
*.db
/plugins/Geyser-Spigot/locales
*.bin
plugins/CoreProtect/.license
/logs
.console_history
